<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendação de Filmes</title>
</head>
<body>
    <h1>Recomendação de Filmes</h1>
    <form action="/predict" method="post">
        <textarea name="review" rows="4" cols="50" placeholder="Digite sua crítica aqui..."></textarea><br>
        <input type="submit" value="Enviar">
    </form>
    {% if prediction %}
        <h2>Sentimento: {{ prediction }}</h2>
    {% endif %}
</body>
</html>