<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Recomendações de Filmes</title>
</head>
<body>
    <h1>Melhores Filmes</h1>
    <ul>
        {% for movie in movies %}
            <li>
                <strong>{{ movie['Movie Name'] }}</strong> ({{ movie['Year of Release'] }})<br>
                Direção: {{ movie['Director'] }}<br>
                Gênero: {{ movie['Genre'] }}<br>
                Descrição: {{ movie['Description'] }}<br>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Voltar</a>
</body>
</html>